.App {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
table, th, td {
  border: 1px solid;
  background-color: white;
}

td {
    padding: 5px 15px;
    max-width: 200px;
}

td:first-child {
    padding: 0;
    width: 30px;
    height: 30px;
}

td:nth-child(2) {
    text-align: justify;
}
  
span {
  color: red;
}